*{
    background-color: antiquewhite;
    font-family: "Hedvig Letters Sans", sans-serif;
}

#maindiv{
    text-align: center;
    font-size: 15px;
}

#learntitle {
    color: lightblue;
    text-shadow: -2px 1px 1px rgb(0, 0, 0);
}

p{
    color: black;
}

h4{
    color: darkorchid;
}

table
{
    margin: auto; /*centers the table*/
}
/*categories for marked special writings*/
.smallp{
    color: black;
    font-size: 0.8rem;
}

.markedspan{
    background-color: lightpink;
}

.highlightedspan{
    background-color: lightgreen;
}

.yellowspan{
    background-color: yellow;
}